body {
    background-color: #ffcc00;
    background-image: ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #2c3e50;
    text-align: center;
    font-size: 14px;
}